{% extends "base.html" %}

{% block head_content %}
    <title>New post</title>
    {% include "navwelcome.html" %}
{% endblock %}

{% block container %}

<h1>New Post!</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="user" value="{{ user.pk }}" />
    
    <div class="form-group">
        <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Title"
            required
        >
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content:</label>
        <textarea 
            class="form-control" 
            id="exampleFormControlTextarea1" 
            rows="16"
            name ="content"
            required
            ></textarea>
    </div>

    <div class="row">
        <div class="col">
            <input
                class="form-control"
                type="text"
                name="category"
                placeholder="Category"
                required
            >
        </div>
        <div class="col">
            <input
                class="form-control"
                type="text"
                name="tag"
                placeholder="Tags"
                required
            >
        </div>
    </div>
    {% if messages %}       
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}                 
         {% endfor %}           
    {% endif %}

    <button type="submit" class="btn btn-secondary btn-lg mt-5">Post!</button>
    
</form>
    
{% endblock %}